Repository apache/dolphinscheduler-website, pull requests merged in 2022-01, with the labels that each got.

#620 Remove logger server
  development/en-us/architecture-design.md
  development/en-us/development-environment-setup.md
  development/zh-cn/architecture-design.md
  development/zh-cn/development-environment-setup.md
  docs/en-us/dev/user_doc/architecture/design.md
  docs/en-us/dev/user_doc/dev_run.md
  docs/en-us/dev/user_doc/expansion-reduction.md
  docs/en-us/dev/user_doc/guide/installation/docker.md
  docs/en-us/dev/user_doc/guide/installation/kubernetes.md
  docs/en-us/dev/user_doc/guide/installation/pseudo-cluster.md
  docs/zh-cn/dev/user_doc/architecture/design.md
  docs/zh-cn/dev/user_doc/expansion-reduction.md
  docs/zh-cn/dev/user_doc/guide/installation/docker.md
  docs/zh-cn/dev/user_doc/guide/installation/kubernetes.md
  docs/zh-cn/dev/user_doc/guide/installation/pseudo-cluster.md
Labels: enhancement, waiting user response

#630 Remove system manual after version 2.0
  docs/en-us/2.0.0/user_doc/expansion-reduction.md
  docs/en-us/2.0.0/user_doc/guide/system-manual.md
  docs/en-us/2.0.1/user_doc/expansion-reduction.md
  docs/en-us/2.0.2/user_doc/expansion-reduction.md
  docs/en-us/dev/user_doc/expansion-reduction.md
  docs/zh-cn/2.0.0/user_doc/expansion-reduction.md
  docs/zh-cn/2.0.0/user_doc/guide/system-manual.md
  docs/zh-cn/2.0.1/user_doc/expansion-reduction.md
  docs/zh-cn/2.0.2/user_doc/expansion-reduction.md
  docs/zh-cn/dev/user_doc/expansion-reduction.md
Labels: bug, waiting for review

#619 compile source code
  development/en-us/development-environment-setup.md
  development/zh-cn/development-environment-setup.md
Labels: enhancement, First-time contributor, waiting user response

#633 [DOC-7944] [fix]typo guide's parameter
  docs/en-us/2.0.2/user_doc/guide/parameter/context.md
  docs/en-us/2.0.2/user_doc/guide/parameter/local.md
  docs/zh-cn/2.0.2/user_doc/guide/parameter/context.md
  docs/zh-cn/2.0.2/user_doc/guide/parameter/local.md
Labels: bug, First-time contributor

#634 Fix incorrect spelling and path
  docs/en-us/1.3.8/user_doc/expansion-reduction.md
  docs/en-us/dev/user_doc/About_DolphinScheduler/About_DolphinScheduler.md
  docs/zh-cn/1.3.8/user_doc/expansion-reduction.md
  docs/zh-cn/1.3.8/user_doc/system-manual.md
  docs/zh-cn/2.0.0/user_doc/About_DolphinScheduler/About_DolphinScheduler.md
  docs/zh-cn/2.0.1/user_doc/About_DolphinScheduler/About_DolphinScheduler.md
  docs/zh-cn/2.0.1/user_doc/guide/upgrade.md
  docs/zh-cn/2.0.2/user_doc/About_DolphinScheduler/About_DolphinScheduler.md
  docs/zh-cn/2.0.2/user_doc/guide/upgrade.md
  docs/zh-cn/dev/user_doc/About_DolphinScheduler/About_DolphinScheduler.md
  site_config/docs2-0-0.js
  site_config/docs2-0-1.js
  site_config/docs2-0-2.js
  site_config/docsdev.js
Labels: enhancement, waiting user response

#638 [Task] Refactor shell type and add example
  docs/en-us/1.2.0/user_doc/system-manual.md
  docs/en-us/1.2.1/user_doc/system-manual.md
  docs/en-us/1.3.1/user_doc/system-manual.md
  docs/en-us/1.3.2/user_doc/system-manual.md
  docs/en-us/1.3.3/user_doc/system-manual.md
  docs/en-us/1.3.4/user_doc/system-manual.md
  docs/en-us/1.3.5/user_doc/system-manual.md
  docs/en-us/1.3.6/user_doc/system-manual.md
  docs/en-us/1.3.8/user_doc/system-manual.md
  docs/en-us/1.3.9/user_doc/system-manual.md
  docs/en-us/2.0.0/user_doc/guide/task/shell.md
  docs/en-us/2.0.0/user_doc/guide/workflow-definition.md
  docs/en-us/2.0.1/user_doc/guide/task/shell.md
  docs/en-us/2.0.1/user_doc/guide/workflow-definition.md
  docs/en-us/2.0.2/user_doc/guide/task/shell.md
  docs/en-us/2.0.2/user_doc/guide/workflow-definition.md
  docs/en-us/dev/user_doc/guide/task/shell.md
  docs/en-us/dev/user_doc/guide/workflow-definition.md
  docs/zh-cn/1.2.0/user_doc/system-manual.md
  docs/zh-cn/1.2.1/user_doc/system-manual.md
  docs/zh-cn/1.3.1/user_doc/system-manual.md
  docs/zh-cn/1.3.2/user_doc/system-manual.md
  docs/zh-cn/1.3.3/user_doc/system-manual.md
  docs/zh-cn/1.3.4/user_doc/system-manual.md
  docs/zh-cn/1.3.5/user_doc/system-manual.md
  docs/zh-cn/1.3.6/user_doc/system-manual.md
  docs/zh-cn/1.3.8/user_doc/system-manual.md
  docs/zh-cn/1.3.9/user_doc/system-manual.md
  docs/zh-cn/2.0.0/user_doc/guide/task/shell.md
  docs/zh-cn/2.0.0/user_doc/guide/workflow-definition.md
  docs/zh-cn/2.0.1/user_doc/guide/task/shell.md
  docs/zh-cn/2.0.1/user_doc/guide/workflow-definition.md
  docs/zh-cn/2.0.2/user_doc/guide/task/shell.md
  docs/zh-cn/2.0.2/user_doc/guide/workflow-definition.md
  docs/zh-cn/dev/user_doc/guide/task/shell.md
  docs/zh-cn/dev/user_doc/guide/workflow-definition.md
  img/shell-en.png
  img/shell.png
  img/shell_dag.png
  img/tasks/demo/shell.jpg
  img/tasks/demo/shell_custom_param.jpg
  img/tasks/icons/shell.png
Labels: enhancement

#639 Recover sidebar project subdir
  docs/en-us/2.0.0/user_doc/guide/project/project-list.md
  docs/en-us/2.0.0/user_doc/guide/project/task-instance.md
  docs/en-us/2.0.0/user_doc/guide/project/workflow-definition.md
  docs/en-us/2.0.0/user_doc/guide/project/workflow-instance.md
  docs/en-us/2.0.1/user_doc/guide/project/project-list.md
  docs/en-us/2.0.1/user_doc/guide/project/task-instance.md
  docs/en-us/2.0.1/user_doc/guide/project/workflow-definition.md
  docs/en-us/2.0.1/user_doc/guide/project/workflow-instance.md
  docs/en-us/2.0.2/user_doc/guide/project/project-list.md
  docs/en-us/2.0.2/user_doc/guide/project/task-instance.md
  docs/en-us/2.0.2/user_doc/guide/project/workflow-definition.md
  docs/en-us/2.0.2/user_doc/guide/project/workflow-instance.md
  docs/en-us/dev/user_doc/guide/project/project-list.md
  docs/en-us/dev/user_doc/guide/project/task-instance.md
  docs/en-us/dev/user_doc/guide/project/workflow-definition.md
  docs/en-us/dev/user_doc/guide/project/workflow-instance.md
  docs/zh-cn/2.0.0/user_doc/guide/project/project-list.md
  docs/zh-cn/2.0.0/user_doc/guide/project/task-instance.md
  docs/zh-cn/2.0.0/user_doc/guide/project/workflow-definition.md
  docs/zh-cn/2.0.0/user_doc/guide/project/workflow-instance.md
  docs/zh-cn/2.0.1/user_doc/guide/project/project-list.md
  docs/zh-cn/2.0.1/user_doc/guide/project/task-instance.md
  docs/zh-cn/2.0.1/user_doc/guide/project/workflow-definition.md
  docs/zh-cn/2.0.1/user_doc/guide/project/workflow-instance.md
  docs/zh-cn/2.0.2/user_doc/guide/project/project-list.md
  docs/zh-cn/2.0.2/user_doc/guide/project/task-instance.md
  docs/zh-cn/2.0.2/user_doc/guide/project/workflow-definition.md
  docs/zh-cn/2.0.2/user_doc/guide/project/workflow-instance.md
  docs/zh-cn/dev/user_doc/guide/project/project-list.md
  docs/zh-cn/dev/user_doc/guide/project/task-instance.md
  docs/zh-cn/dev/user_doc/guide/project/workflow-definition.md
  docs/zh-cn/dev/user_doc/guide/project/workflow-instance.md
  site_config/docs2-0-0.js
  site_config/docs2-0-1.js
  site_config/docs2-0-2.js
  site_config/docsdev.js
Labels: bug

#640 Modify the Flink.md document under task folder in versions 2.0.0 to 2.0.2 of docs/en-us and docs/zh-cn, and change spark to Flink(Include dev directory)
  docs/en-us/2.0.0/user_doc/guide/task/flink.md
  docs/en-us/2.0.1/user_doc/guide/task/flink.md
  docs/en-us/2.0.2/user_doc/guide/task/flink.md
  docs/en-us/dev/user_doc/guide/task/flink.md
  docs/zh-cn/2.0.0/user_doc/guide/task/flink.md
  docs/zh-cn/2.0.1/user_doc/guide/task/flink.md
  docs/zh-cn/2.0.2/user_doc/guide/task/flink.md
  docs/zh-cn/dev/user_doc/guide/task/flink.md
Labels: bug, First-time contributor

#643 Add new repo for DolphinScheduler
  community/en-us/team.md
  community/zh-cn/team.md
Labels: enhancement, waiting for review, community

#644 Add DSIP for community
  community/en-us/DSIP.md
  community/zh-cn/DSIP.md
  site_config/community.jsx
Labels: enhancement, waiting for review, community

#647 Add e2e test doc
  development/en-us/e2e-test.md
  development/zh-cn/e2e-test.md
  img/e2e-test/Dlocal.png
  img/e2e-test/E2E_Cases.png
  img/e2e-test/MP4.png
  img/e2e-test/SecurityPage.png
  img/e2e-test/timeout.png
  site_config/development.js
Labels: enhancement, develope

#648 [community] Add how to review issue or PR
  community/en-us/join/review.md
  community/en-us/team.md
  community/zh-cn/join/review.md
  community/zh-cn/team.md
  site_config/community.jsx
Labels: enhancement, community

#650 add DingTalk alert plugin documentation
  docs/en-us/dev/user_doc/guide/alert/dingtalk.md
  docs/zh-cn/dev/user_doc/guide/alert/dingtalk.md
  img/alert/dingtalk-plugin.png
Labels: enhancement, plugin

#653 add doc of taskgoup
  docs/en-us/dev/user_doc/guide/resource.md
  docs/zh-cn/dev/user_doc/guide/resource.md
  img/task_group_conf.png
  img/task_group_conf_eng.png
  img/task_group_create.png
  img/task_group_create_eng.png
  img/task_group_manage.png
  img/task_group_manage_eng.png
  img/task_group_process.png
  img/task_group_queue_list.png
  img/task_group_queue_list_eng.png
  img/task_group_use.png
  img/task_group_use_eng.png
Labels: enhancement, waiting user response

#652 [Fix-7844][docs] fix nnfriendliness and errors in the 2.x deployment documents
  docs/en-us/2.0.0/user_doc/guide/installation/pseudo-cluster.md
  docs/en-us/2.0.1/user_doc/guide/installation/pseudo-cluster.md
  docs/en-us/2.0.2/user_doc/guide/installation/pseudo-cluster.md
  docs/en-us/2.0.3/user_doc/guide/installation/pseudo-cluster.md
  docs/en-us/dev/user_doc/guide/installation/pseudo-cluster.md
  docs/zh-cn/2.0.0/user_doc/guide/installation/pseudo-cluster.md
  docs/zh-cn/2.0.1/user_doc/guide/installation/pseudo-cluster.md
  docs/zh-cn/2.0.2/user_doc/guide/installation/pseudo-cluster.md
  docs/zh-cn/2.0.3/user_doc/guide/installation/pseudo-cluster.md
  docs/zh-cn/dev/user_doc/guide/installation/pseudo-cluster.md
Labels: enhancement, waiting user response

#655 Unit test English version
  community/en-us/development/unit-test.md
  community/zh-cn/development/unit-test.md
  site_config/community.jsx
Labels: bug, develop

#656 [feat] Add python dist doc to document
  .github/workflows/website.yml
  site_config/site.js
Labels: enhancement

#662 [plugin] Add WebexTeams alert plugin documentation
  docs/en-us/dev/user_doc/guide/alert/enterprise-webexteams.md
  docs/zh-cn/dev/user_doc/guide/alert/enterprise-webexteams.md
  img/alert/enterprise-webexteams-plugin.png
Labels: enhancement, don't merge, plugin

#660 [fix] CI ds python build
  .github/workflows/website.yml
Labels: bug, CI/CD
