Repository apache/dolphinscheduler-website, pull requests merged in 2022-02, with the labels that each got.

#666 [Feature-8245][Alert] add telegram alter plugin doc.
  docs/en-us/dev/user_doc/guide/alert/telegram.md
  docs/zh-cn/dev/user_doc/guide/alert/telegram.md
  img/alert/telegram-plugin.png
Labels: enhancement, First-time contributor, waiting user response, plugin

#657 [ci] Fix dead link checker error flag
  .github/workflows/dead-link-checker.yaml
  development/en-us/e2e-test.md
  development/zh-cn/e2e-test.md
Labels: bug, community

#674 [Docs] Change about dolphinscheduler About_DolphinScheduler.md
  docs/en-us/2.0.3/user_doc/About_DolphinScheduler/About_DolphinScheduler.md
  docs/en-us/dev/user_doc/About_DolphinScheduler/About_DolphinScheduler.md
  docs/zh-cn/2.0.3/user_doc/About_DolphinScheduler/About_DolphinScheduler.md
  docs/zh-cn/dev/user_doc/About_DolphinScheduler/About_DolphinScheduler.md
Labels: enhancement, First-time contributor, format

#678 [ci] Each PR need to pass ci "Dead Link Checker"
  .asf.yaml
Labels: enhancement, develop, CI/CD

#687 [E2E] [Picture] Update the picture
  development/en-us/e2e-test.md
  img/e2e-test/SecurityPage.png
Labels: enhancement, develop

#688 [Feature-8024][Document] Add example and notice about task type Flink
  docs/en-us/2.0.3/user_doc/guide/task/flink.md
  docs/en-us/dev/user_doc/guide/task/flink.md
  docs/zh-cn/2.0.3/user_doc/guide/task/flink.md
  docs/zh-cn/dev/user_doc/guide/task/flink.md
  img/tasks/demo/flink_task.png
  img/tasks/demo/upload_flink.png
  img/tasks/icons/flink.png
Labels: enhancement, task

#689 Add new committer: songjian
  community/en-us/team.md
  community/zh-cn/team.md
Labels: community

#667 [Feature-8020][Document] Add example and notice about task type SQL
  docs/en-us/2.0.0/user_doc/guide/task/sql.md
  docs/en-us/2.0.1/user_doc/guide/task/sql.md
  docs/en-us/2.0.2/user_doc/guide/task/sql.md
  docs/en-us/2.0.3/user_doc/guide/task/sql.md
  docs/en-us/dev/user_doc/guide/task/sql.md
  docs/zh-cn/2.0.0/user_doc/guide/task/sql.md
  docs/zh-cn/2.0.1/user_doc/guide/task/sql.md
  docs/zh-cn/2.0.2/user_doc/guide/task/sql.md
  docs/zh-cn/2.0.3/user_doc/guide/task/sql.md
  docs/zh-cn/dev/user_doc/guide/task/sql.md
  img/tasks/demo/hive-result.png
  img/tasks/demo/hive-sql.png
  img/tasks/icons/sql.png
Labels: First-time contributor, waiting for review, plugin, refactor

#691 [Feature-8021][Document] Add example and notice about task type Spark
  docs/en-us/2.0.3/user_doc/guide/task/spark.md
  docs/en-us/dev/user_doc/guide/task/spark.md
  docs/zh-cn/2.0.3/user_doc/guide/task/spark.md
  docs/zh-cn/dev/user_doc/guide/task/spark.md
  img/tasks/demo/spark_task.png
  img/tasks/demo/upload_spark.png
  img/tasks/icons/spark.png
Labels: enhancement, task

#690 add details running on Windows
  README.md
Labels: enhancement, develop

#692 [Docs] Add multi-cluster support faq
  docs/en-us/release/faq.md
  docs/zh-cn/release/faq.md
Labels: enhancement, waiting user response

#697 add news info
  blog/zh-cn/DolphinScheduler_Kubernetes_Technology_in_action.md
  img/2022-02-22/1.jpeg
  img/2022-02-22/10.png
  img/2022-02-22/11.png
  img/2022-02-22/12.png
  img/2022-02-22/13.png
  img/2022-02-22/14.png
  img/2022-02-22/15.png
  img/2022-02-22/16.png
  img/2022-02-22/17.png
  img/2022-02-22/18.png
  img/2022-02-22/19-1.png
  img/2022-02-22/19.png
  img/2022-02-22/2.png
  img/2022-02-22/20.png
  img/2022-02-22/21.png
  img/2022-02-22/22.png
  img/2022-02-22/23.png
  img/2022-02-22/24.png
  img/2022-02-22/25.png
  img/2022-02-22/26.png
  img/2022-02-22/3.png
  img/2022-02-22/4.png
  img/2022-02-22/5.png
  img/2022-02-22/6.png
  img/2022-02-22/7.png
  img/2022-02-22/8.png
  img/2022-02-22/9.png
  img/2022-02-22/微信截图_20220216163107.png
  img/2022-02-22/微信截图_20220216163747.png
  img/2022-02-22/微信截图_20220216163858.png
  img/2022-02-22/微信截图_20220216181703.png
  site_config/blog.js
  site_config/home.jsx
Labels: waiting user response, blog

#698 [community] Add content about release python api
  community/en-us/release-prepare.md
  community/en-us/release.md
  community/zh-cn/release-prepare.md
  community/zh-cn/release.md
Labels: enhancement, waiting for review, community

#699 [E2E][Issue-8454] Add E2E Contribution Guide
  community/en-us/join/e2e-guide.md
  community/zh-cn/join/e2e-guide.md
  img/community/join/e2e/e2e-issue.png
  img/community/join/e2e/e2e-security.png
  site_config/community.jsx
Labels: community, develop

#702 [doc] Add task plugin doc of EMR
  docs/en-us/dev/user_doc/guide/task/emr.md
  docs/zh-cn/dev/user_doc/guide/task/emr.md
  site_config/docsdev.js
Labels: waiting for review, plugin, task

#703 [Bug] [Doc] Fix e2e-test dead link
  community/en-us/join/e2e-guide.md
  community/zh-cn/join/e2e-guide.md
Labels: bug, waiting user response, community
